:root {
    --font-family: 'nunito, sans-serif' --primary-color: rgb(255, 46, 99),
        --secondary-color: rgb(8, 217, 214), --third-color: rgb(37, 42, 52),
        --fourth-color: rgb(234, 234, 234);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-family);
    font-size: 1.6rem;
    line-height: 1.5;
    overflow-y: overlay;
    text-rendering: optimizeSpeed;
}

.MuiCardHeader-title {
    font-size: '16px';
    font-weight: 'bold';
}
